<!-- Display navbar -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper  blue-grey darken-4">
            <a href="#!" class="brand-logo center"><%- logo %></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Survey Home</a></li>
            </ul>
        </div>
    </nav>
</div>
