<div>
    <h3 id="sectionHeader" class="col s12 m12 l12 blue-grey-text">Consent Form</h3>
    <div class="col s12 m12 l12 blue-grey-text text-darken-4 descTest">
        <h4>About the Study</h4>
        <p>
            This study is a project for ECE 695/CS 590: Fault-Tolerant Computer System Design,
            a joint-course between the Department of Electrical and Computer Engineering
            and Department of Computer Science at Purdue University. The instructor
            of this course is <a href="mailto:sbagchi@purdue.edu">Professor Saurabh Bagchi</a>.
        </p>
        <p>
            The purpose of this study is to observe and determine a pattern in
            the behaviour of participants who intentionally submit ingenuine
            information to those types of questionnaires or forms that are typically
            difficult to ensure the authenticity of the provided data. The study
            will collect data for approximately one week from the publication,
            and there is no limit on the number of participants.
        </p>

        <div class="divider"></div>
        
        <h4>Eligibility</h4>
        <p>
            You can participate in this study if your age is between 18 and 64.
        </p>
        
        <div class="divider"></div>

        <h4>Instructions</h4>
        <p>
            Your task is to answer the questions presented to you after
            clicking on the <span class="teal-text text-teal-darken-2">CONSENT</span>
            button at the bottom of this page. You will see a list of questions in the
            following forms:
            <ol>
                <li>Muliple Choice: Select the choice that you agree with most</li>
                <li>Short Answer: Enter your answer in the text box provided</li>
            </ol>
        </p>
        <p>
            <b>You are free to answer honestly or provide ingenuine information.</b>
        </p>
        <p>
            Please keep in mind that the questions asked in this study have
            absolutely no relationship with what the study intends to find out.
            Please answer the questions as though you are answering a regular
            survey and act normally as you would.
        </p>

        <div class="divider"></div>

        <h4>Data Collection</h4>
        <p>
            The data collected will be completely anonymised. To help group answers
            from the same user together, we will assign each survey session a
            discrete identifier. When you begin answering the questions, we will
            be tracking the following information:
            <ol>
                <li>Time when you start reading a question</li>
                <li>Time when you finished answering a question</li>
                <li>Your mouse movement</li>
                <li>Your answers to the questions, including all modifications</li>
            </ol>
        </p>

        <div class="divider"></div>

        <h4>Survey Length</h4>
        <p>
            The survey is consisted of 10 to 15 questions, which will take approximately
            5 to 10 minutes to complete.
        </p>

        <div class="divider"></div>

        <h4>Risks</h4>
        <p>
            There is no greater risk than you would encounter in daily life
            or during the performance of routine physical or psychological
            exams or tests. No one will be able to trace back to you with the
            information we collect, nor with the answer you provided.
        </p>
        <p>
            This survey is completely voluntary. You may choose not to consent
            to the information we collect (as described above) and close
            this browser window right away, or if you choose to proceed, will
            be able to withdraw from completing this survey at any moment by
            simply closing this browser window.
        </p>

        <div class="divider"></div>

        <h4>Compensation</h4>
        <p>
            There will be no compensation by completing this survey.
        </p>

        <div class="divider"></div>

        <h4>Your Consent</h4>
        <p>
            By clicking on the <span class="teal-text text-teal-darken-2">CONSENT</span>
            button, you consent to the terms above and grant us permissions to
            collect those data we listed. If you do not consent to any of the terms
            above, you may close this browser window now to leave this study.
        </p>
    </div>

</div>
