<h3 id="sectionHeader" class="col s12 m12 l12 blue-grey-text">
    Thank you!
</h3>

<div class="col s12 m12 l12 blue-grey-text text-darken-4 descTest">
    <p>
        You have answered all the questions in this study. We really
        appreciate your time!
    </p>
</div>
