<h3 id="sectionHeader" class="col s12 m12 l12 blue-grey-text">
    Thank you!
</h3>
<div class="col s12 m12 l12 blue-grey-text text-darken-4 descTest">
<p>
    You have answered all the questions in this study. We really
    appreciate your time!
</p>
</div>

<div class="col s12 m12 l12 divider"></div>

<h3 class="col s12 m12 l12 blue-grey-text">Acknowledgement</h3>
<div class="col s12 m12 l12 blue-grey-text text-darken-4 descTest">

    <p>
        <h4 style="margin-bottom: 0px;">Measurement of job and work involvement.</h4>
        <p style="margin-top: 5px;">By Kanungo, Rabindra N. Journal of Applied Psychology, Vol 67(3), Jun 1982, 341-349.</p>
    </p>
</div>
