<!doctype html>
<html>
<title>Start Survey</title>
<head>
    <%- include ../head.ejs %>
    <link rel="stylesheet" href="/survey/css/layout.css"/>
    <script type="text/javascript" src="/survey/js/switchPage.js"></script>
    <script type="text/javascript" src="/survey/js/init.js"></script>
</head>
<body>
    <div id="toast"></div>

    <div id="startScreen" class="row waves-effect waves-yellow">
        <span id="startPrompt">START</span>
    </div>

    <div class="row">
        <div id="navpane" class="col blue-grey darken-3 white-text s12 m4 l3">
            <ul id="toc">
                <li class="selected">Welcome</li>
                <li>Consent Form</li>
                <li>
                    <ul>
                        <li class='sub'>Test 1</li>
                        <li class='sub '>Test 2</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="canvas" class="col blue-grey lighten-5 s12 m8 l9">
            <div id="contents" class="section container row">
                <!-- <%- include welcome %> -->
            </div>

            <div id="footer" class="row section container">
                <div class="divider"></div>
                <a id="prev" href="#!" class="navBtn btn-flat waves-effect
                        waves-gray gray-text text-gray-darken-2
                        col s3 offset-m6 m3 offset-l8 l2">
                    Previous
                </a>
                <a id="next" href="#!" class="navBtn btn-flat waves-effect
                        waves-teal teal-text text-teal-darken-2 col offset-s6 s3 m3 l2">
                    Next
                </a>
            </div>
        </div>
    </div>
</body>
</html>
