<h3 id="sectionHeader" class="col s12 m12 l12 blue-grey-text">
    Welcome!
</h3>

<div class="col s12 m12 l12 blue-grey-text text-darken-4 descTest">
    <p>
        Thank you very much for taking this survey.
    </p>
    <p>
        This is a course project of Computer Science 590 - Fault Tolerant
        Computer System Design, from Purdue University.
    </p>
    <p>
        The contents of this website are results of collaborations between
        <a href="mailto:lee1938@purdue.edu" target="_blank">Wen-chuan Lee</a>,
        <a href="mailto:ling21@purdue.edu" target="_blank">Sam Ling</a>, and
        <a href="mailto:tsai46@purdue.edu" target="_blank">Shin-yeh Tsai</a>,
        and the survey aims to help us capture how people behaves when they
        intentionally enter fake information to a survey.
    </p>
    <p>
        Please note, while answering this survey, <b class="yellow lighten-1" style="padding: 2px 5px;">
        you can either enter false information or honest information</b>.
        If you are ready, please click next to read our consent form for this servey.
    </p>
</div>
