<h3 id="sectionHeader" class="col s12 m12 l12 blue-grey-text">
    Welcome!
</h3>

<div class="col s12 m12 l12 blue-grey-text text-darken-4 descTest">
    <p>
        Thank you very much for participating in this study.
    </p>
    <p>
        This study is a project for ECE 695/CS 590: Fault-Tolerant Computer System Design,
        a joint-course between the Department of Electrical and Computer Engineering
        and Department of Computer Science at Purdue University. The instructor
        of this course is <a href="mailto:sbagchi@purdue.edu">Professor Saurabh Bagchi</a>.
    </p>
    <p>
        The purpose of this study is to explore methods of isolating ingenuine
        digital survey submissions from honest participants'submissions. The study
        will collect data for approximately one week from the publication,
        and there is no limit on the number of participants.
    </p>
    <p>
        The contents of this website are results of collaborations between
        <a href="mailto:lee1938@purdue.edu" target="_blank">Wen-chuan Lee</a>,
        <a href="mailto:ling21@purdue.edu" target="_blank">Sam Ling</a>, and
        <a href="mailto:tsai46@purdue.edu" target="_blank">Shin-yeh Tsai</a>,
        and the study aims to help us capture how people behaves when they
        intentionally enter fake information to a survey.
    </p>
    <p>
        If you are ready, please click <span class="teal-text text-teal-darken-2">NEXT</span>
        to read our consent form. Once again, thank you for taking time helping us with the study!
    </p>
</div>
