#toast {
    background-color: #e53935;
    opacity: 0;
    cursor: pointer;
    width: 45%;
    padding: 20px 20px;
    z-index: 10000;
    position: fixed;
    right: 30px;

    color: white;
    font-size: 1.3em;
    text-align: center;
    box-shadow: 1px 0px 10px #263238;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    #toast {
        width: auto;
        left: 20px;
        right: 20px;
    }
}
